In [3]:
import pandas as pd

In [4]:
shape_csv = pd.read_csv('shape_3_similarity_l2_transformed.csv')

In [5]:
color_csv = pd.read_csv('color_3_similarity_l2_transformed.csv')

In [6]:
embedding_csv = pd.read_csv('file_distance_embeddings.csv', header = None)

In [6]:
shape_csv

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,0.000000,0.237991,0.092076,0.435655,0.373431,0.075591,0.951508,0.950737,0.953800,0.951390,...,1.633738,0.072895,3.352016,0.272985,0.306738,0.809813,0.553488,2.316038,0.638338,0.560145
1,0.237991,0.000000,0.146171,0.197807,0.135506,0.162549,0.713561,0.712783,0.715864,0.713449,...,1.395790,0.310670,3.522417,0.035024,0.544714,1.047200,0.791476,2.078124,0.400413,0.322195
2,0.092076,0.146171,0.000000,0.343967,0.281587,0.018088,0.859694,0.858916,0.862000,0.859577,...,1.541922,0.164542,3.416791,0.181141,0.398675,0.901697,0.645402,2.224258,0.546512,0.468323
3,0.435655,0.197807,0.343967,0.000000,0.062977,0.360193,0.515920,0.515153,0.518207,0.515817,...,1.198125,0.508419,3.670699,0.162882,0.742344,1.244098,0.989102,1.880425,0.202974,0.124755
4,0.373431,0.135506,0.281587,0.062977,0.000000,0.298040,0.578117,0.577342,0.580419,0.577995,...,1.260346,0.446111,3.626256,0.100485,0.680169,1.182121,0.926891,1.942672,0.264928,0.186747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0.809813,1.047200,0.901697,1.244098,1.182121,0.885261,1.759258,1.758539,1.761465,1.759081,...,2.440955,0.737916,2.893896,1.082056,0.505273,0.000000,0.262308,3.122589,1.446389,1.368459
102,0.553488,0.791476,0.645402,0.989102,0.926891,0.628998,1.504962,1.504196,1.507244,1.504835,...,2.187181,0.480881,2.992157,0.826465,0.246837,0.262308,0.000000,2.869426,1.191776,1.113609
103,2.316038,2.078124,2.224258,1.880425,1.942672,2.240609,1.364575,1.365363,1.362262,1.364686,...,0.682416,2.388775,5.255313,2.043126,2.622741,3.122589,2.869426,0.000000,1.677755,1.755936
104,0.638338,0.400413,0.546512,0.202974,0.264928,0.562938,0.313230,0.312461,0.315527,0.313090,...,0.995439,0.711036,3.832152,0.365401,0.945073,1.446389,1.191776,1.677755,0.000000,0.078271
105,0.560145,0.322195,0.468323,0.124755,0.186747,0.484716,0.391374,0.390599,0.393677,0.391256,...,1.073605,0.632848,3.768808,0.287192,0.866878,1.368459,1.113609,1.755936,0.078271,0.000000

In [7]:
color_csv

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,0.000000,1.705296,0.752768,1.083486,0.542724,1.297316,0.443907,0.529540,0.439243,0.435402,...,2.161942,0.561458,1.960260,0.430828,1.950333,1.950333,1.979799,2.401483,2.140696,1.651050
1,1.705296,0.000000,1.955705,1.119507,1.697479,1.046996,1.668828,1.722871,1.693622,1.641006,...,1.057340,2.074503,0.931459,1.612977,0.928138,0.928138,0.941363,1.105913,1.055922,0.735683
2,0.752768,1.955705,0.000000,1.210419,1.160451,1.816570,0.887534,0.920377,0.878963,0.878164,...,2.621889,0.387808,2.423959,0.679707,2.414667,2.414667,2.442741,2.838678,2.603926,2.136829
3,1.083486,1.119507,1.210419,0.000000,1.430155,0.886436,1.328070,1.415626,1.341627,1.300225,...,1.555843,1.261756,1.377792,0.746909,1.369542,1.369542,1.394203,1.784381,1.539601,1.209620
4,0.542724,1.697479,1.160451,1.430155,0.000000,1.385662,0.309340,0.335577,0.314272,0.320112,...,2.151407,1.027495,1.957038,0.941258,1.947662,1.947662,1.975933,2.357721,2.131406,1.604125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,1.950333,0.928138,2.414667,1.369542,1.947662,0.713690,2.038833,2.112012,2.060708,2.015362,...,0.211986,2.394232,0.010092,1.851955,0.000000,0.000000,0.029512,0.485012,0.192226,0.370167
102,1.979799,0.941363,2.442741,1.394203,1.975933,0.742066,2.067375,2.140319,2.089298,2.043900,...,0.182711,2.423275,0.019543,1.880701,0.029512,0.029512,0.000000,0.457627,0.163421,0.394787
103,2.401483,1.105913,2.838678,1.784381,2.357721,1.197602,2.447886,2.513536,2.471190,2.424289,...,0.310505,2.846896,0.475246,2.310177,0.485012,0.485012,0.457627,0.000000,0.335500,0.759524
104,2.140696,1.055922,2.603926,1.539601,2.131406,0.889869,2.228071,2.300353,2.250024,2.204828,...,0.026105,2.583733,0.182685,2.039108,0.192226,0.192226,0.163421,0.335500,0.000000,0.545631
105,1.651050,0.735683,2.136829,1.209620,1.604125,0.555654,1.696421,1.764899,1.719117,1.673417,...,0.561705,2.120958,0.377858,1.602753,0.370167,0.370167,0.394787,0.759524,0.545631,0.000000

In [12]:
embedding_csv

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,0.000000,51.403908,58.593960,65.429970,37.586205,51.599293,40.054878,51.743912,62.338490,58.682991,...,57.080772,63.055382,47.381588,68.750595,47.212269,36.918640,46.949379,64.384201,47.589085,47.327351
1,51.403908,0.000000,52.946556,64.963394,52.099560,39.346889,51.766975,6.820671,60.882439,53.552742,...,52.564857,45.882553,51.510822,61.522171,56.075832,47.434048,51.170670,58.235435,42.071705,53.234512
2,58.593960,52.946556,0.000000,60.783684,58.491795,54.967213,57.572697,52.956722,60.657242,5.727690,...,47.192024,64.079178,64.551155,40.935467,68.398170,51.789154,63.341209,44.442341,57.684734,65.941971
3,65.429970,64.963394,60.783684,0.000000,66.294868,67.338142,64.018806,64.584244,63.148273,60.336002,...,50.272728,71.830215,66.665550,71.101830,68.081070,60.318848,65.367920,67.057838,60.837990,67.528946
4,37.586205,52.099560,58.491795,66.294868,0.000000,51.471554,45.133572,52.080830,63.824059,58.836445,...,57.413200,63.971397,47.751209,67.511795,55.071095,38.905457,47.451469,63.325115,50.417480,50.409943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,36.918640,47.434048,51.789154,60.318848,38.905457,42.950489,42.239857,47.317860,55.874882,52.215687,...,50.759144,56.031807,46.980080,62.799114,51.213013,0.000000,44.950321,59.537983,45.369240,48.057175
102,46.949379,51.170670,63.341209,65.367920,47.451469,52.941113,54.910000,50.246136,59.979809,63.471073,...,58.363022,59.222092,11.311320,71.974060,25.931410,44.950321,0.000000,66.784431,44.145710,16.281448
103,64.384201,58.235435,44.442341,67.057838,63.325115,64.658653,61.376190,58.565220,66.906273,45.549408,...,50.143883,70.510338,67.904968,31.869986,71.926651,59.537983,66.784431,0.000000,62.792099,69.638466
104,47.589085,42.071705,57.684734,60.837990,50.417480,49.597458,50.019455,41.692841,56.694828,58.038467,...,50.756290,52.943821,45.442879,67.482841,47.585361,45.369240,44.145710,62.792099,0.000000,44.998116
105,47.327351,53.234512,65.941971,67.528946,50.409943,54.179790,56.697544,52.301510,61.843315,66.019302,...,61.695557,61.192455,16.546366,74.727463,17.905323,48.057175,16.281448,69.638466,44.998116,0.000000

In [17]:
import os
name_list = []
for root, dirs, files in os.walk('objects', topdown=False):
    for name in files:
        name_list.append(name[:-4])

In [18]:
name_list

['Book 6',
 'Magazine 1',
 'Fork 1',
 'Vase 1',
 'Book 7',
 'Paper',
 'Book 5',
 'Magazine 2',
 'Vase 3',
 'Fork 2',
 'Paint Can',
 'Block 9',
 'Rubber Duck',
 'Train',
 'Block 8',
 'Coffee',
 'Vase 2',
 'Book 4',
 'Book 11',
 'Allergy Pills',
 'Book 1',
 'Book 10',
 'Bread',
 'Book 12',
 'Book 3',
 'Clipboard',
 'Soccer Ball',
 'Pen',
 'Key',
 'Soda Can',
 'Book 2',
 'Crayon 3',
 'Towel',
 'Left Shoe',
 'Coconut',
 'Dodecahedron',
 'Carrot',
 'Yogurt',
 'Crayon 2',
 'Marker 4',
 'Right Shoe',
 'Beans',
 'Candle',
 'Crayon 1',
 'Smartphone',
 'Marker 3',
 'Knife 1',
 'Crayon 5',
 'Donut 2',
 'Paper Bag',
 'Crayon 4',
 'Marker 2',
 'Juice Box',
 'Tomato',
 'Scissors',
 'Crayon 6',
 'Paper Box',
 'Donut 1',
 'Eraser',
 'Mug',
 'Marker 1',
 'Knight',
 'Notebook',
 'Milk Carton 3',
 'Spoon 2',
 'Spoon 3',
 'Milk Carton 2',
 'Apple',
 'Water Bottle 2',
 'Oil Carafe 2',
 'Cylinder 4',
 'Airplane',
 'Spoon 1',
 'Block 10',
 'Milk Carton 1',
 'Cup',
 'Oil Carafe 1',
 'Cylinder 3',
 'Pear',
 'Laptop',
 'Cylinder 2',
 'Tea Box',
 'Teabag',
 'Cylinder 1',
 'Helmet',
 'Jelly',
 'Block 3',
 'Takeout Box',
 'Banana',
 'Block 2',
 'Water Bottle',
 'Bacon',
 'Oil Bottle 2',
 'Strawberry',
 'Block 1',
 'Oil Bottle 1',
 'Candlestick',
 'Book 9',
 'Block 5',
 'Pencil 2',
 'Block 4',
 'Book 8',
 'Block 6',
 'Pencil 1',
 'Gold',
 'Block 7']

In [31]:
def spearman_correlation(x, y):
    coef, p = spearmanr(x, y)
    return coef, p

In [50]:
def avg_spearman_correlation_between_df(df1, df2):
    
    # check if lenght of both the dataframe are equal
    
    spearman_val_total = 0
    if len(df1) == len(df2):
        for row in df1:
            x = df1.iloc[int(row)][:]
            y = df2.iloc[int(row)][:]
            
            spearman_val = spearman_correlation(x,y)[0]
            spearman_val_total += spearman_val
            
        return spearman_val_total/len(df1)

In [51]:
avg_spearman_correlation_between_df(color_csv, embedding_csv)

0.037525952490219706

In [49]:
from scipy.stats import spearmanr

In [52]:
avg_spearman_correlation_between_df(shape_csv, embedding_csv)

0.020516925141912248

In [53]:
avg_spearman_correlation_between_df(shape_csv, color_csv)

0.044935548786765075

In [97]:
def top_6(row):
    
    return row.argsort()[1:7]
  
def bottom_6(row):
    
    return row.argsort()[::-1][:6]

In [105]:

def top(row, n = 10):
    
    return row.argsort()[1:n+1]
  
def bottom(row, n = 10):
    
    return row.argsort()[::-1][:n]

In [38]:
em = embedding_csv.apply(top_6, axis = 1)

In [72]:
sh = shape_csv.apply(top_6, axis = 1)

array([101,   4,  24,   6,  21,  30])

In [93]:
ch = color_csv.apply(top_6, axis = 1)

In [94]:
ch.columns = [1,2,3,4,5,6]

In [91]:
def hit_ratio(df1, df2):
    hit_ratio_sum = 0
    
    for i in range(len(df1)):
        
        set_of_similar = set(df1.iloc[[i]].values[0]).intersection(set(df2.iloc[[i]].values[0]))
        hit_ratio_sum += len(set_of_similar)
    
    return hit_ratio_sum/len(df1)

In [86]:
em.iloc[[57]].values[0]

array([48, 34,  8, 22, 91, 35])

In [87]:
sh.iloc[[57]].values[0]

array([ 58,  91,  93,  54,  90, 104])

In [92]:
hit_ratio(em,sh)

0.330188679245283

In [95]:
hit_ratio(em,ch)

0.33962264150943394

In [96]:
hit_ratio(sh,ch)

0.8490566037735849

In [98]:
em_b = embedding_csv.apply(bottom_6, axis = 1)
sh_b = shape_csv.apply(bottom_6, axis = 1)
ch_b = color_csv.apply(bottom_6, axis = 1)

In [99]:
hit_ratio(em_b,ch_b)

0.11320754716981132

In [100]:
hit_ratio(sh_b,ch_b)

0.02830188679245283

In [102]:
hit_ratio(em_b,sh_b)

0.6320754716981132

In [106]:
em_10 = embedding_csv.apply(top, axis = 1)
sh_10 = shape_csv.apply(top, axis = 1)
ch_10 = color_csv.apply(top, axis = 1)

In [107]:
hit_ratio(em_10,ch_10)

1.009433962264151

In [108]:
hit_ratio(em_10,sh_10)

0.9622641509433962

In [109]:
hit_ratio(ch_10,sh_10)

2.0

In [110]:
em_10_b = embedding_csv.apply(bottom, axis = 1)
sh_10_b = shape_csv.apply(bottom, axis = 1)
ch_10_b = color_csv.apply(bottom, axis = 1)

In [111]:
hit_ratio(em_10_b,ch_10_b)

0.5471698113207547

In [113]:
hit_ratio(sh_10_b,ch_10_b)

0.3867924528301887

In [114]:
hit_ratio(sh_10_b, em_10_b)

0.9245283018867925

In [115]:
em

       1   2    3    4    5   6
0    101   4   24    6   21  30
1      7  58   23   17    5  62
2      9  64   46   72   65  99
3     96  76   72   92   91  28
4     24   0  101   87   30  20
..   ...  ..  ...  ...  ...  ..
101   30   0   87   24    4  23
102   73  94   98   14  105  86
103   27  60   99   51   46  64
104   58  87   49   35   18   7
105   14  89   86  102   98  73

[106 rows x 6 columns]

In [116]:
ch

       1   2    3   4    5   6
0     31  99   11   9    8  10
1     83  33   24  23  105  48
2     28  97   72  99   43   0
3     47  17   74  18   67  33
4      6   8   11   9   14  13
..   ...  ..  ...  ..  ...  ..
101  100  20   73  98   46  53
102   55  29   61  40   92  90
103   96  91  104  65   64  63
104   96  58   57  63   64  65
105   70  71   22  84   23  30

[106 rows x 6 columns]

In [117]:
sh

       1   2    3    4    5    6
0     34  82   88   56   66   97
1     75  89   23   74   99   83
2     33  70   19    5   73   66
3     51  26   25   18   52    4
4     52  80   18   25   26   51
..   ...  ..  ...  ...  ...  ...
101  102  31   27   94   32   92
102   94  31   92  100   21  101
103   96  77   79   78   43   42
104   76  67  105   86   85   57
105   86  85   67   76  104    3

[106 rows x 6 columns]